.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 64px;
  }