.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  color: #000000;
  align-items: center;
  display: flex;
}

.logo {
  width: 183px;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: auto 0;
  font-weight: bold;
  box-sizing: border-box;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  padding-left: 64px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  font-weight: normal;
  display: block;
  box-sizing: border-box;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  color: #2f80ed;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 64px;
}

.content {
  box-sizing: border-box;
}


/* Раздел description*/
.description {
  padding-top: 100px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

.two-columns {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  box-sizing: border-box;
}

.two-columns__brief {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
}

.two-columns__main-text {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  padding-bottom: 30px;
  margin: 0;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}



/* Раздел digits*/
.digits {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.section-title {
  margin: 0 auto;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  width: 60%;
  text-align: center;
}

.section-subtitle {
  margin: 0 auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  padding-top: 20px;
}

.table {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row wrap;
  list-style: none;
  padding-left: 0;
  box-sizing: border-box;
}

.table__cell {
  display: block;
  margin: 0;
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  padding-top: 20px;
}



/* Раздел feynman*/
.feynman {
  padding-top: 100px;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  width: 648px;
  margin: auto;
  text-align: center;
}

.feynman__subtitle {
  margin: 0 auto;
  width: 388px;
  font-size: 36px;
  line-height: 51px;
  padding-top: 70px;
  text-align: center;
}

.feynman__link {
  font-size: 36px;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
}



/* Раздел kaufman*/
.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  box-sizing: border-box;
}

.section-title_theme_dark {
  color: white;
  z-index: 2;
  position: relative;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}

.table_theme_dark {
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  padding-top: 0;
  box-sizing: border-box;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}


/* Раздел footer*/
.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  min-height: 250px;
  box-sizing: border-box;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  padding: 18px 0;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 0 16px;
  list-style: none;
}

.footer__column-link {
  color: white;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}

.footer__social-icon {
  margin: 0;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}